
JG_TransactionUploader/.vs/JG_TransactionUploader/v16/.suo
/JG_TransactionUploader/JG_TransactionUploader/obj
/JG_TransactionUploader/JG_TransactionUploader/bin
JG_TransactionUploader/.vs/JG_TransactionUploader/DesignTimeBuild/.dtbcache.v2
/JG_TransactionUploader/API/bin
/JG_TransactionUploader/API/obj
/JG_TransactionUploader/Frontend/bin
/JG_TransactionUploader/Frontend/obj
JG_TransactionUploader/.vs/JG_TransactionUploader/FileContentIndex/3784a6ba-596d-4d81-abf7-5624fa63f5b7.vsidx
JG_TransactionUploader/.vs/JG_TransactionUploader/FileContentIndex/a5053355-6ee1-45c6-9a34-c0569a9c0785.vsidx
JG_TransactionUploader/.vs/JG_TransactionUploader/FileContentIndex/605545af-3fbf-491c-bd7b-1f32177e3bb9.vsidx
JG_TransactionUploader/.vs/JG_TransactionUploader/FileContentIndex/70af33bd-37f1-4f7e-956e-1a81779e5ed7.vsidx
JG_TransactionUploader/.vs/JG_TransactionUploader/FileContentIndex/77f93f79-fabc-41d7-9a12-56f8bd67ef7d.vsidx
JG_TransactionUploader/.vs/JG_TransactionUploader/v17/DocumentLayout.json
JG_TransactionUploader/.vs/JG_TransactionUploader/v17/DocumentLayout.backup.json
JG_TransactionUploader/.vs/JG_TransactionUploader/v17/.suo
