@page
@model IndexModel
@{
    ViewData["Title"] = "JG Transaction Uploader";
}
<div class="text-center">
    <div id="login-screen">
        <h1>Login</h1>
        <button onclick="redirectToFileUploader()">Login</button>
    </div>
</div>
<script>
    function redirectToFileUploader() {
        window.location.href = '/FileUploader';
    }
</script>
