@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="login-screen">
        <h1>Login</h1>
        <button onclick="showTabs()">Login</button>
    </div>
    <div id="tabs" style="display: none;">
        <ul class="tab-list">
            <li class="tab-item" onclick="showTab('tab1')">File Uploader</li>
        </ul>
        <div id="tab1" class="tab-content">
            <h2>File Uploader</h2>
            <input type="file" id="fileInput" accept=".csv, .xml" />
            <button onclick="uploadFile()">Upload</button>
            <p id="fileInfo"></p>
        </div>
    </div>
    <script src="scripts.js"></script>
</div>
