<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="logfile" fileName="C:\Code\Git\JG_TransactionUploader\JG_TransactionUploader\Logs\01 - Info\01_Info_${date:format=yyyy-MM-dd}.txt" layout="${date:format=yyyy-MM-dd HH.mm.ss} - ${message}"/>
    <target xsi:type="File" name="error_logfile" fileName="C:\Code\Git\JG_TransactionUploader\JG_TransactionUploader\Logs\02 - Error\02_Error_${date:format=yyyy-MM-dd}.txt" layout="${date:format=yyyy-MM-dd HH.mm.ss} - ${message}" />
    <target xsi:type="File" name="debug_logfile" fileName="C:\Code\Git\JG_TransactionUploader\JG_TransactionUploader\Logs\03 - Debug\03_Debug_${date:format=yyyy-MM-dd}.txt" layout="${date:format=yyyy-MM-dd HH.mm.ss} - ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logfile"></logger>
    <logger name="*" minlevel="Error" writeTo="error_logfile" />
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="debug_logfile"></logger>
  </rules>

</nlog>
